body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
    padding: 0%;
    background-color: #f0f0f0;
    height: 200px;

}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    background-color: #642bcf;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #333e61;
}

#weatherResult {
    font-size: 14px;
    color: #333;
}